.nav-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav-container .harmbourger {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-container .harmbourger {
    background-color: var(--white-color);
    box-shadow: var(--dashboard-box-shadow);
    z-index: 99;
    display: flex;
    align-items: center;
  }
  .nav-container .harmbourger .lend-logo {
    width: 11.537rem;
    margin-top: 0.6rem;
  }
}
.nav-container .navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  padding: 1.3rem 3rem;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .nav-container .navbar-wrap {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    padding-left: 4rem;
  }
}
.nav-container .navbar-wrap .left-nav-wrap {
  display: flex;
  align-items: center;
  gap: 16.54rem;
}
@media screen and (max-width: 768px) {
  .nav-container .navbar-wrap .left-nav-wrap {
    display: inline;
    flex-direction: column;
  }
}
.nav-container .navbar-wrap .left-nav-wrap .lend-logo {
  width: 11.537rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav-container .navbar-wrap .left-nav-wrap .lend-logo {
    display: flex;
  }
}
.nav-container .navbar-wrap .left-nav-wrap .search-wrap {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .nav-container .navbar-wrap .left-nav-wrap .search-wrap {
    margin-top: 2rem;
  }
}
.nav-container .navbar-wrap .left-nav-wrap .search-wrap .search-input {
  width: 43rem;
  outline: none;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.8rem;
  padding: 1.2rem;
  padding-right: 7rem;
  color: var(--text-color);
}
@media screen and (max-width: 768px) {
  .nav-container .navbar-wrap .left-nav-wrap .search-wrap .search-input {
    display: inline-block;
    width: 100%;
  }
}
.nav-container .navbar-wrap .left-nav-wrap .search-wrap .search-input::-moz-placeholder {
  color: var(--text-color);
  font-family: "Work Sans";
}
.nav-container .navbar-wrap .left-nav-wrap .search-wrap .search-input::placeholder {
  color: var(--text-color);
  font-family: "Work Sans";
}
.nav-container .navbar-wrap .left-nav-wrap .search-wrap .search-icon-wrap {
  position: absolute;
  cursor: pointer;
  background: var(--light-green-color);
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  width: 5.6rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.nav-container .navbar-wrap .right-nav-wrap {
  display: flex;
  gap: 4rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-container .navbar-wrap .right-nav-wrap {
    margin-top: 2rem;
  }
}
.nav-container .navbar-wrap .right-nav-wrap .docs-wrap {
  text-decoration: underline;
  cursor: pointer;
}
.nav-container .navbar-wrap .right-nav-wrap .bell-notify-wrap {
  cursor: pointer;
}
.nav-container .navbar-wrap .right-nav-wrap .profile-wrap {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-container .navbar-wrap .right-nav-wrap .profile-wrap {
    display: inline;
    flex-direction: column;
  }
}
.nav-container .navbar-wrap .right-nav-wrap .profile-wrap .avatar-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.nav-container .navbar-wrap .right-nav-wrap .profile-wrap .nav-user-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.nav-container .navbar-wrap .right-nav-wrap .profile-wrap .nav-user-wrap .nav-username {
  font-weight: 500;
  font-size: 1.6rem;
}
.nav-container .navbar-wrap .right-nav-wrap .profile-wrap .nav-user-wrap .dropdown-icon {
  margin-top: 0.35rem;
}
.nav-container .show-navbar-wrap {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=navbar.css.map */