.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  padding: 1.3rem 3rem;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;

  .left-nav-wrap {
    display: flex;
    align-items: center;
    gap: 20rem;

    .lend-logo {
      width: 14rem;
      cursor: pointer;
    }

    .search-wrap {
      display: flex;
      align-items: center;
      position: relative;

      .search-input {
        width: 43rem;
        outline: none;
        border: 0.1rem solid var(--border-color);
        border-radius: 0.8rem;
        padding: 1.2rem;
        padding-right: 7rem;
        color: var(--text-color);

        &::placeholder {
          color: var(--text-color);
          font-family: "Avenir Next";
        }
      }
      .search-icon-wrap {
        position: absolute;
        cursor: pointer;
        background: var(--light-green-color);
        right: 0;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        width: 5.6rem;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }
  }
  .right-nav-wrap {
    display: flex;
    gap: 4rem;
    align-items: center;

    .docs-wrap {
      text-decoration: underline;
      cursor: pointer;
    }

    .bell-notify-wrap {
      cursor: pointer;
    }

    .profile-wrap {
      display: flex;
      gap: 1rem;
      align-items: center;

      .avatar-img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
      }
      .nav-user-wrap {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        .nav-username {
          font-weight: 500;
          font-size: 1.6rem;
        }
        .dropdown-icon {
          margin-top: 0.35rem;
        }
      }
    }
  }
}
