.user-details-view-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .user-detail-top-wrap {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;

    .user-view-label {
      font-weight: 400;
      font-size: 1.6rem;
    }
    .route-back-icon {
      transition: 0.3s ease-in-out;
    }
    &:hover .route-back-icon {
      transform: translateX(-3px);
    }
  }

  .user-details-mid-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .user-detail-header {
      font-weight: 500;
      font-size: 2.4rem;
      color: var(--dark-blue-color);
      @media screen and (max-width: 768px) {
        // align-items: center;
        margin: auto;
        justify-content: center;
      }
    }
    .user-details-btn-wrap {
      display: flex;
      gap: 2rem;
      align-items: center;
      @media screen and (max-width: 768px) {
        padding-top: 2rem;
        flex-direction: column;
        // align-items: flex-start;
        align-items: center;
        margin: auto;
        justify-content: center;
      }
      p {
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1.5rem 5rem;
        background: transparent;
        border: 1px solid #e4033b;
        color: #e4033b;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;
      }
      :nth-child(2) {
        @extend p;
        border: 1px solid var(--light-green-color);
        color: var(--light-green-color);
      }
    }
  }
  .user-details-summary-wrap {
    padding: 3.5rem;
    position: relative;
    background: var(--white-color);
    border: 1px solid var(--card-border-color);
    box-shadow: var(--dashboard-box-shadow);
    border-radius: 0.4rem;

    .user-profile-container {
      display: flex;
      gap: 4rem;
      align-items: center;
      padding-bottom: 3.5rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .user-profile-wrap {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          text-align: center;
        }
        .user-avatar-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(33, 63, 125, 0.16);
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          .user-static-icon {
            width: 27.92px;
            height: 29.3px;
          }
          .user-display-img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
          }
        }
        .user-detail-info {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          .user-detail-name {
            font-weight: 500;
            font-size: 2.2rem;
            color: var(--dark-blue-color);
          }
        }
      }
      .hr-line {
        width: 0.1rem;
        height: 8rem;
        background: rgba(84, 95, 125, 0.2);
      }

      .user-tier-wrap {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .user-star-wrap {
          display: flex;
          gap: 0.5rem;
        }
      }

      .user-amount-details-wrap {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .amount {
          font-weight: 500;
          font-size: 2.2rem;
          color: var(--dark-blue-color);
        }
        .bank-name {
          font-weight: 400;
          font-size: 1.2rem;
          color: var(--dark-blue-color);
        }
      }
    }
    .user-tabs-wrap {
      position: absolute;
      bottom: 0;
      display: flex;
      right: 0;
      width: 100%;
      justify-content: space-between;
      left: 0;
      padding-left: 5rem;
      text-align: center;
      padding-right: 5rem;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        position: relative;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
      }

      .user-tab-box {
        width: 18rem;
        font-size: 1.6rem;
      }
      .active-user-tab-box {
        border-bottom: 0.2rem solid var(--light-green-color);
        padding-bottom: 1rem;
        color: var(--light-green-color);
      }
    }
  }
  .more-user-datail-info-wrap {
    overflow-x: scroll;
    padding: 3.5rem;
    background: var(--white-color);
    border: 1px solid var(--card-border-color);
    box-shadow: var(--dashboard-box-shadow);
    border-radius: 4px;
    .personal-info-wrap {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .personal-info-box {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        &:not(:last-child) {
          border-bottom: 0.1rem solid rgba(33, 63, 125, 0.1);
          padding-bottom: 3rem;
        }
        .info-title {
          font-weight: 500;
          font-size: 1.6rem;
          color: var(--dark-blue-color);
          text-transform: capitalize;
        }
        .detail-sub-info-wrap {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 4rem;

          @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
          }
          .detail-sub-info-box {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media screen and (max-width: 768px) {
              grid-template-columns: 1fr;
            }
            .info-box-label {
              font-size: 1.2rem;
              text-transform: uppercase;
            }
            .remove-capitalize {
              text-transform: lowercase !important;
              @media screen and (max-width: 768px) {
                font-size: 1.3rem !important;
                text-transform: lowercase !important;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
              }
            }
            .info-box-value {
              font-weight: 500;
              font-size: 1.6rem;
              text-transform: capitalize;
            }
          }
        }
        .detail-sub-info-wrap-length {
          grid-template-columns: repeat(5, 1fr);
          @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
