.sidebar-wrap {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 28.3rem;
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  left: 0;
  top: 7.4rem;
  overflow-y: scroll;
  z-index: 2;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  @media screen and (max-width: 768px) {
    top: 4.7rem;
    transition: 0.3s ease-in-out;
    width: 5rem;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  .sidebar-icon {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      margin-top: 0.5rem;
      padding-left: 1.5rem;
      cursor: pointer;
    }
  }

  .sidebar-top-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
    padding: 3rem;
    padding-bottom: unset;

    @media screen and (max-width: 768px) {
      padding: 1rem 1.5rem;
      padding-bottom: unset;
    }

    .switch-org-text {
      font-weight: 400;
      font-size: 1.6rem;
      color: var(--dark-blue-color);

      @media screen and (max-width: 768px) {
        padding: 1rem 1.5rem;
        padding-bottom: unset;
      }
    }

    .drop-icon {
      transition: 0.3s;
    }
    &:hover .drop-icon {
      transform: translateY(2px);
    }
  }

  .sidebar-items-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    .sidebar-items-box {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      text-transform: capitalize;
      color: var(--dark-blue-color);
      font-weight: 400;
      font-size: 1.6rem;

      .sidebar-item-top {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        color: #848b9d;
        position: relative;
        padding: 0.7rem 3rem;

        @media screen and (max-width: 768px) {
          padding: 1rem 1.5rem;
          padding-bottom: unset;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0.4rem;
          height: 100%;
          background-color: var(--transparent-green-color);
          transform: scaleY(0);
          transform-origin: bottom;
          transition: transform 0.4s, width 0.4s 0.4s;
        }
        &:hover::after {
          transform: scaleY(1);
          width: 100%;
        }
      }

      .sub-list-wrap {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .sidebar-sub-header {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
          padding-left: 3rem;
          margin-bottom: 1rem;
          @media screen and (max-width: 768px) {
            padding: 1rem 1.5rem;
            padding-bottom: unset;
            padding-top: unset;
          }
        }
        .sub-list-box {
          display: flex;
          align-items: center;
          gap: 1rem;

          color: #848b9d;
          cursor: pointer;
          position: relative;
          padding: 1rem 3rem;
          @media screen and (max-width: 768px) {
            padding: 1rem 1.5rem;
            padding-bottom: unset;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0.4rem;
            height: 100%;
            background-color: var(--transparent-green-color);
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 0.4s, width 0.4s 0.4s;
          }
          &:hover::after {
            transform: scaleY(1);
            width: 100%;
          }

          .span-bg {
            position: absolute;
            height: 100%;
            background-color: var(--light-green-color);
            width: 0.3rem;
            left: 0;
            transition: all 0.3s;
            @media screen and (max-width: 768px) {
              top: 0;
            }
          }
        }
      }
      .sub-list-box-active {
        background-color: var(--transparent-green-color);

        &::after {
          display: none;
        }
        .sub-label {
          color: var(--text-color);
        }
      }
      .sub-label {
        font-weight: 400;
        font-size: 1.6rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .hide-text {
      visibility: hidden;
    }
    .hide-arrow {
      visibility: hidden;
    }
  }
}
.show-sidebar-wrap {
  width: 100%;
}
