.sidebar-wrap {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 28.3rem;
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  left: 0;
  top: 7.4rem;
  overflow-y: scroll;
  z-index: 2;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap {
    top: 4.7rem;
    transition: 0.3s ease-in-out;
    width: 5rem;
    overflow-x: hidden;
  }
}
.sidebar-wrap::-webkit-scrollbar {
  width: 8px;
}
.sidebar-wrap::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-wrap::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}
.sidebar-wrap::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.sidebar-wrap .sidebar-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-icon {
    display: flex;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    cursor: pointer;
  }
}
.sidebar-wrap .sidebar-top-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  padding: 3rem;
  padding-bottom: unset;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-top-wrap {
    padding: 1rem 1.5rem;
    padding-bottom: unset;
  }
}
.sidebar-wrap .sidebar-top-wrap .switch-org-text {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark-blue-color);
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-top-wrap .switch-org-text {
    padding: 1rem 1.5rem;
    padding-bottom: unset;
  }
}
.sidebar-wrap .sidebar-top-wrap .drop-icon {
  transition: 0.3s;
}
.sidebar-wrap .sidebar-top-wrap:hover .drop-icon {
  transform: translateY(2px);
}
.sidebar-wrap .sidebar-items-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  text-transform: capitalize;
  color: var(--dark-blue-color);
  font-weight: 400;
  font-size: 1.6rem;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sidebar-item-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: #848b9d;
  position: relative;
  padding: 0.7rem 3rem;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sidebar-item-top {
    padding: 1rem 1.5rem;
    padding-bottom: unset;
  }
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sidebar-item-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.4rem;
  height: 100%;
  background-color: var(--transparent-green-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s, width 0.4s 0.4s;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sidebar-item-top:hover::after {
  transform: scaleY(1);
  width: 100%;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sidebar-sub-header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding-left: 3rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sidebar-sub-header {
    padding: 1rem 1.5rem;
    padding-bottom: unset;
    padding-top: unset;
  }
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sub-list-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #848b9d;
  cursor: pointer;
  position: relative;
  padding: 1rem 3rem;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sub-list-box {
    padding: 1rem 1.5rem;
    padding-bottom: unset;
  }
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sub-list-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.4rem;
  height: 100%;
  background-color: var(--transparent-green-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s, width 0.4s 0.4s;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sub-list-box:hover::after {
  transform: scaleY(1);
  width: 100%;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sub-list-box .span-bg {
  position: absolute;
  height: 100%;
  background-color: var(--light-green-color);
  width: 0.3rem;
  left: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-wrap .sub-list-box .span-bg {
    top: 0;
  }
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-box-active {
  background-color: var(--transparent-green-color);
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-box-active::after {
  display: none;
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-list-box-active .sub-label {
  color: var(--text-color);
}
.sidebar-wrap .sidebar-items-wrap .sidebar-items-box .sub-label {
  font-weight: 400;
  font-size: 1.6rem;
}
.sidebar-wrap .sidebar-items-wrap .logout-wrap {
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  margin-top: 5rem;
  padding: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-items-wrap .logout-wrap {
    padding: 1rem 1.5rem;
    padding-bottom: unset;
  }
}
.sidebar-wrap .sidebar-items-wrap .logout-wrap .logout-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .sidebar-items-wrap .logout-wrap .logout-icon {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .sidebar-wrap .hide-text {
    visibility: hidden;
  }
  .sidebar-wrap .hide-arrow {
    visibility: hidden;
  }
}

.show-sidebar-wrap {
  width: 100%;
}/*# sourceMappingURL=sidebar.css.map */