.auth-login-wrap {
  background: var(--white-color);
  display: flex;
  font-family: "Avenir Next", sans-serif;
  .auth-login-left-wrap {
    background: var(--white-shade-color);
    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .logo-wrap {
    position: absolute;
    top: 0;
    .logo-box {
      padding: 8rem;
      padding-bottom: unset;
    }
  }

  .pablo-img {
    margin: auto;
    padding-top: 2rem;
  }

  .auth-login-right-wrap {
    background: var(--white-color);
    margin: auto;

    @media screen and (max-width: 768px) {
      min-width: 50vw;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .auth-login-right-box {
      gap: 7rem;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 1.5rem;
      }

      .login-top-wrap {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .right-display-wrap {
          display: none;
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-bottom: 3rem;
            .pablo-img {
              width: 100%;
            }
          }
        }
      }

      .login-header-text {
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -0.04em;
        color: var(--dark-blue-color);
      }
      .login-sub-text {
        font-weight: 400;
        font-size: 20px;
        margin-top: 1rem;
      }
      .auth-login-form-wrap {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .auth-login-box {
          position: relative;
          display: flex;
          align-items: center;
          .login-input {
            width: 44.7rem;
            border: 0.2rem solid var(--border-color);
            padding: 1.5rem;
            outline: none;
            border-radius: 5px;
            color: var(--text-color);
            transition: all 0.3s ease-in-out;

            &:focus::placeholder {
              visibility: hidden;
            }
            &:focus ~ .login-label {
              visibility: visible;
              transform: translateY(-50%);
            }

            &::placeholder {
              font-weight: 400;
              text-transform: capitalize;
              color: var(--text-color);
              font-family: "Work Sans", sans-serif;
            }
          }

          .login-input-active {
            border: 0.2rem solid var(--light-green-color);
          }

          .login-label {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 1rem;
            text-transform: capitalize;
            background-color: var(--white-color);
            padding: 0rem 1rem;
            transition: transform 0.3s;
          }

          .login-label-active {
            visibility: visible;
            transform: translateY(-50%);
          }

          .login-show-text {
            position: absolute;
            right: 0;
            padding-right: 2.2rem;
            cursor: pointer;
            place-items: center;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--light-green-color);
          }
        }
      }

      .login-forgot-text {
        color: var(--light-green-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.1em;
        color: #39cdcc;
        cursor: pointer;
      }
      .login-btn-wrap {
        margin-top: 2rem;
      }
    }
  }
}
